
/* test 2 */
/* Code from Homework Instructions Below */

.inline-block {
    display: inline-block;
    vertical-align: top;
} 

.logo {
    width: 23%;
    padding: 1%;
    text-align: center; /* Delete this line? */
}

nav {
    width: 70%;
    padding: 1%;

    /* Extra Styling Below */
    text-align: right;
} 

nav ul {
    width: 50%;
    margin-left: auto;

    /* Extra Styling Below */
    padding: px
} 


.heroImg {
    height: 600px;
    padding: 25px;
} 

.content {
    width: 500px;
    margin: 0 auto;
} 


footer {
    background-color: #373738;
    padding: 10px; 

    /* Extra Styling Below */
    color: white;
    text-align: center;
}


footer ul {
    padding: 10px;
}

footer ul li {
   padding: 10px;
}

/* More Sections for Extra Styling Below */

body {
    font-family: Arial, Helvetica, sans-serif;

}

button {
    padding: 10px 20px;
    background-color: #B388EB;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.logo img {
    width: 250px;
}

.content img {
    width: 300px;
    height: auto;
}

nav li {
    padding: 10px
} 
